*.swp
*.pyc
*.bbl
*.aux
*.bbl
*.blg
*latexmk
*.fls
*.lof
*.log
*.out
*-blx.bib
*.nav
*.run.xml
*.snm
*.toc
*.bcf
*.pdf
class-lists/
exams/exam-*/
exams/examples/
videos/
worksheets/
notes/
course-manual/
study-questions/
